@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.wallet-social-container {
    width: 100%;
    padding: 20px;
  }
  
  .bento-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
  }
  
  .remaining-info {
    background: rgba(137, 113, 208, 0.1); /* Adjust the alpha value (0.8) for transparency */
    padding: 20px;
    border-radius: 10px;
    width:400px;
    color: white;
  }
  
  
  
  
  .remaining-info h3 {
    margin-bottom: 10px;
    color: #f4eeee;
    font-family: "Montserrat";
    font-weight: 700;
    
    font-style: italic;
  }
  
  .remaining-info p {
    margin: 0;
    color: #ffffff;
    font-family: "verdana";
    font-weight: 400;
  }
  