/* Define keyframes for the kaleidoscope effect */
@keyframes kaleidoscope {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  .modal-content{
    margin: 0;
  }
  
  /* Apply the kaleidoscope effect to the modal content */
 .modal-modal, .modal-content, .modal-header, .modal-body , .modal-footer, .box-modal, .modal-button{
    background: radial-gradient(circle at center, #000000 0%, #04081b 100%);
    animation: kaleidoscope 20s infinite linear;
    
  }
 